.problem-text {
  font-family: Outfit;
  line-height: normal;
  letter-spacing: 0;
}

.problem-statement {
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 48rem;
  text-align: center;
}

.fraunces-axis-2 {
  font-family: Fraunces;
  font-size: 3rem;
  font-style: italic;
  line-height: 125%;
  padding-bottom: 3rem;
  font-variation-settings:
    'SOFT' 50,
    'opsz' 144,
    'GOOF' 0,
    'WONK' 0,
    'wght' 500;
}
.card-shadow {
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.25);
}

@media (min-width: 768px) {
  .problem-statement {
    font-size: 2rem;
    padding-bottom: 1rem;
  }
  .fraunces-axis-2 {
    font-size: 6rem;
  }
}

@media (min-width: 1024px) {
  .problem-statement {
    font-size: 2rem;
  }
}
